{% extends 'base.html' %}
{% load static %}
{% block content %}
<head><title>CHRISTMAS</title></head>
<style>
    
</style>
<body>
    <center>
        <h1 style="background-color: white;">SHOP FOR CHRISTMAS</h1>
    </center>
    <div style="float:left;margin: 60px;">
    {% for pro in Cproduct %}
    {% if pro.category == 'christmas' %}
    <a href="description/{{pro.id}}">
        <div class="" style="text-align: center;padding-bottom:20px;color:black">
            <div>
                <img src="{{pro.image.url}}" alt="image" height="300" width="300">
            </div>
            <div>
                <div><h1>{{pro.productName}}</h1></div>
                <div><pre>{{pro.description}}</pre></div>
                <div style="font-weight:bolder;">Rs. {{pro.price}} /-</div>
                <br><br>
                <label>CLICK TO SEE</label>
            </div>
        </div></a>
    {% endif %}
    {% endfor %}
</div>
</body>
{% endblock %}
