{% extends "base.html" %}

{% block content %}
<style>
    .card-layout {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        background: #ffffff;
    }
    .zoom {
        transition: transform .2s;
        width: 300px;
        height: 300px;
      }
      
    .zoom:hover {
        -ms-transform: scale(1.5); 
        -webkit-transform: scale(1.5); 
        transform: scale(1.5); 
    }
    .zoom-in {cursor: zoom-in;}
    
</style>

<div class="card-layout " style="width: 20rem;">
    <img class="zoom zoom-in" src="{{ product.image.url }}" style="width:100%">
    <center>
        <h1>{{ product.productName}}</h1>
    <div>
        <pre>{{ product.description }}</pre>
        <h3 >Rs. {{ product.price }}/-</h3>
        <div>
            <a href="addCart">
                <button type="button" class="btn btn-info btn-sm" style="width: 200px;background:transparent;border:transparent">
                    ADD TO CART
                </button>
            </a>
        </div>
    </div>
    </center>
    
</div>

{% endblock %}